body {
	background-color: black;
}

h1 {
	color: red;
	font-family: Orbitron;
	font-size: 70px;
	text-align: center;
	margin-top: 19px;
	margin-bottom: -89px;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.ryu {
	width: 659px;
	height: 494px;
    float: left;
}

.hulk-ryu {
    -webkit-filter: hue-rotate(90deg);
    /*chrome, safari, opera*/
    filter: hue-rotate(90deg);
    /*firefox, ie, etc*/
    width: 659px;
	height: 494px;
    margin: auto;
    margin-right: 95px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.hulk-ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.hulk-ryu-still {
	background-image: url('../images/ryu-standing-still.png');
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.hulk-ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hulk-ryu-cool {
	background-image: url('../images/ryu-cool.gif');
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ryu-ready, .hulk-ryu-still, .hulk-ryu-throwing, .hulk-ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	z-index: 10;
	top: 170px;
	left: 520px;
	float: left;
} 
.hulk-hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	z-index: 10;
	top: 170px;
	right: 520px;
	float: right;
	-webkit-filter: hue-rotate(90deg);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
} 

